flow.json
[{"id":"14f3f7b.047a008","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bd5deef7.9ece3","type":"inject","z":"14f3f7b.047a008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":140,"wires":[["575a7de4.03e244"]]},{"id":"575a7de4.03e244","type":"debug","z":"14f3f7b.047a008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":140,"wires":[]},{"id":"a8e6c204.0df3d","type":"inject","z":"14f3f7b.047a008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":200,"wires":[["579d3adf.d784b4"]]},{"id":"579d3adf.d784b4","type":"debug","z":"14f3f7b.047a008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":200,"wires":[]},{"id":"9b2a99ff.99f358","type":"comment","z":"14f3f7b.047a008","name":"Test Node-Red 8","info":"","x":390,"y":80,"wires":[]}]