flow.json
[{"id":"14f3f7b.047a008","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ef75e98.467d8","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"fdb1c4a9.4bc428","type":"mqtt-broker","z":"","name":"unixweb","broker":"node.unixweb.eu","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"662e88e5.596bc","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":false},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#8a8a8a","edited":true},"page-sidebar-backgroundColor":{"value":"#8a8a8a","edited":true},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Smarthome ","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"18414be5.28bfcc","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"af9c0d4.fbdbbf","type":"ui_group","z":"","name":"Smarthome","tab":"18414be5.28bfcc","disp":true,"width":"6","collapse":false},{"id":"bd5deef7.9ece3","type":"inject","z":"14f3f7b.047a008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":140,"wires":[["575a7de4.03e244"]]},{"id":"575a7de4.03e244","type":"debug","z":"14f3f7b.047a008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":140,"wires":[]},{"id":"a8e6c204.0df3d","type":"inject","z":"14f3f7b.047a008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":200,"wires":[["579d3adf.d784b4"]]},{"id":"579d3adf.d784b4","type":"debug","z":"14f3f7b.047a008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":200,"wires":[]},{"id":"9b2a99ff.99f358","type":"comment","z":"14f3f7b.047a008","name":"Test Node-Red 0.18.2 Joachim Hummel","info":"","x":460,"y":80,"wires":[]},{"id":"2070ea2c.12b33e","type":"debug","z":"14f3f7b.047a008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":260,"wires":[]},{"id":"bcffd7b5.7915e8","type":"mqtt in","z":"14f3f7b.047a008","name":"","topic":"/18FE34A685C7/Uptime/","qos":"2","broker":"fdb1c4a9.4bc428","x":350,"y":260,"wires":[["2070ea2c.12b33e"]]},{"id":"9aceade4.2bc188","type":"ui_button","z":"4ef75e98.467d8","name":"","group":"af9c0d4.fbdbbf","order":1,"width":0,"height":0,"passthru":false,"label":"Einschalten","color":"","bgcolor":"","icon":"fa-power-off","payload":"","payloadType":"str","topic":"","x":300,"y":140,"wires":[[]]},{"id":"a6262c5b.f00c88","type":"ui_switch","z":"4ef75e98.467d8","name":"","label":"Küche","group":"af9c0d4.fbdbbf","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o","oncolor":"ffffff","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"ffffff","x":280,"y":200,"wires":[[]]},{"id":"d71d909f.ce35f","type":"function","z":"4ef75e98.467d8","name":"Weiß","func":"msg.payload={\n\t\"on\":[true],\n\t\"brightness\":[100],\n\t\"rgb\":[255,255,255]\n};\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["4a81f138.fffe48"]]},{"id":"26ac88e0.d64ed","type":"switch","z":"4ef75e98.467d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","outputs":2,"x":444,"y":267,"wires":[["4a81f138.fffe48"],["d71d909f.ce35f"]]},{"id":"c2506348.fea71","type":"ui_switch","z":"4ef75e98.467d8","name":"","label":"Wohnzimmer","group":"af9c0d4.fbdbbf","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-lightbulb-o","oncolor":"ffffff","offvalue":"false","offvalueType":"bool","officon":"fa-power-off","offcolor":"ffffff","x":280,"y":267,"wires":[["26ac88e0.d64ed"]]},{"id":"4a81f138.fffe48","type":"template","z":"4ef75e98.467d8","name":"Diesen Node durch Philips Hue ersetzen","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":840,"y":260,"wires":[[]]},{"id":"5136e340.8a6b9c","type":"comment","z":"4ef75e98.467d8","name":"Dieser Node dient nur als Platzhalter -> klicken","info":"Bitte ersetze den Orange farbigen Node \ndurch einen Philips Hue und verbinde diesen\nmit der Lampe die Du damit steuern willst.","x":910,"y":220,"wires":[]}]