flow.json
[{"id":"14f3f7b.047a008","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fdb1c4a9.4bc428","type":"mqtt-broker","z":"","name":"unixweb","broker":"node.unixweb.eu","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"bd5deef7.9ece3","type":"inject","z":"14f3f7b.047a008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":140,"wires":[["575a7de4.03e244"]]},{"id":"575a7de4.03e244","type":"debug","z":"14f3f7b.047a008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":140,"wires":[]},{"id":"a8e6c204.0df3d","type":"inject","z":"14f3f7b.047a008","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":200,"wires":[["579d3adf.d784b4"]]},{"id":"579d3adf.d784b4","type":"debug","z":"14f3f7b.047a008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":200,"wires":[]},{"id":"9b2a99ff.99f358","type":"comment","z":"14f3f7b.047a008","name":"Test Node-Red 0.18.2 Joachim Hummel","info":"","x":460,"y":80,"wires":[]},{"id":"2070ea2c.12b33e","type":"debug","z":"14f3f7b.047a008","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":260,"wires":[]},{"id":"bcffd7b5.7915e8","type":"mqtt in","z":"14f3f7b.047a008","name":"","topic":"/18FE34A685C7/Uptime/","qos":"2","broker":"fdb1c4a9.4bc428","x":350,"y":260,"wires":[["2070ea2c.12b33e"]]}]